@import '../../variables.scss';

.button {
  border: none;
  background: $yellow;
  color: $brown;
  padding: 13px 21px;
  border-radius: 7px;
  font-weight: 600;
  cursor: pointer;
  font-size: 16px;
  display: block;
  margin-left: auto;
  width: fit-content;
  margin-bottom: 15px;
}
