@import '../../../variables.scss';

.registration {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 200;
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  width: 446px;
  max-height: 475px;
  background: #fff;
  border-radius: 12px;
  padding: 40px 40px 50px;

  label {
    display: block;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 8px;
  }
}

h2 {
  font-size: 26px;
  font-weight: 700px;
  margin: 0;
}

.titleWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 36px 0;

  img {
    cursor: pointer;
  }
}

button {
  background: $yellow;
  outline: none;
  border: none;
  width: 100%;
  border-radius: 12px;
  padding: 12px 0;
}

.goToRegistration {
  display: block;
  cursor: pointer;
  color: $middlegray;
  margin-top: 40px;
  transition: all 0.3s ease-in-out;
  width: fit-content;

  &:hover {
    color: $black;
    transition: all 0.3s ease-in-out;
  }
}