@import '../../../variables.scss';

.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 21px 29px;
  border-bottom: 1px solid $lightgray;

  h4 {
    color: $buleText;
    padding: 0;
    margin: 0;
  }
}

.iconWrapper {
  img {
    margin-right: 25px;
    cursor: pointer;
  }
}